{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

	{% if error %}
	    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

	<div class="container">

		<div class="row" id="pwd-container">

			<div class="col-md-4"></div>

				<div class="col-md-4">

				    <section class="login-form">

					    <form action="{{ path("fos_user_security_check") }}" method="post" role="login">

					    	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

					        <img src="{{ asset('bundles/app/images/RcmcLv4_p.png') }}" class="img-responsive" alt="" />

					        <input type="text" id="username" name="_username" placeholder="Usuario o email" required="required" class="form-control input-lg" />
					      
					        <input type="password" class="form-control input-lg" id="password" placeholder="Contraseña" name="_password" required="required" />

					        <row>
						        <label for="remember_me">Recordar esta cuenta </label>
						        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />				        
					        </row>

					        <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block">	
					        	Entrar
					        </button>

					        <div>
					        	<a href="/register">Crear cuenta</a> | <a href="/resetting">Restablecer contraseña</a>
					        </div>

					    </form>
					    
					    <div class="form-links">
					        <a href="http://www.tecspro.com.ar">www.tecspro.com.ar</a>
					    </div>
				    </section>  
				</div>	  
			<div class="col-md-4"></div>
		</div>
	</div>
{% endblock fos_user_content %}

{% block StyleSheet %}
 	{{ parent() }}
	               	
	<link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}" />
{% endblock StyleSheet %}

{% block Javascript %}
 	{{ parent() }}

    <script src="{{ asset('bundles/app/js/login.js') }}"></script>
{% endblock Javascript %}

