{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	{% if error %}
	    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

        {% block StyleSheet %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
                    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">  

			<!--Pulling Awesome Font -->
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">                          	
   			<link rel="stylesheet" href="{{ asset('bundles/sistemaperrouser/css/login.css') }}" />
        {% endblock StyleSheet %}

	
	<div class="container">
	    <div class="row">
	        <div class="col-md-offset-5 col-md-3">
				<form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				    <h3 class="panel-title">Bienvenidos</h3>
				    <br>
				    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" 
				    		class="form-control input-sm chat-input" placeholder="Usuario"/>
				    <br>
				    <input type="password" id="password" name="_password" required="required" 
				    		class="form-control input-sm chat-input" placeholder="Contraseña"/>
				    <br>
				    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

				    <input type="submit" id="_submit" name="_submit" 
				    		value="Login" class="btn btn-primary btn-md"/>
				</form>
	        </div>
	    </div>
	</div>
{% endblock fos_user_content %}